@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&family=Orbitron:wght@400..900&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f0f23 0%, #16213e 75%, #1a1a2e 100%);
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #4ecdc4;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}